.card {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    position: absolute;
    top:200px;
    left:200px;
    margin-left: 50px;
}

.title {
    font-size: 70px;
    margin-left: 15px;
}

.parag {
    width: 360px;
    margin-left: 20px;
    font-weight: lighter;
}

.images {
    width:100%;
    text-indent: 20px;
    max-height: fit-content;
    margin-top: 50px;
}

.images img{
    padding-left: 40px;
    max-width: 70px;
    margin-top: 50px;
}