.logo {
    display:flex;
    float: left;
    margin-right: 50px;
    position: relative;
    top: 30px;
    left:40px;
}

.hero {
    max-width: 600px;
    max-height: 650px;
    position: absolute;
    left:840px;
    top:100px;
}

@media (max-width:600px) {
    .logo {
        position:absolute;
        top:40px;
        left:100px;
        height: 70px;
    }
}